<!DOCTYPE html>
<html>
<head>
  <title>WorldCup2014</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<%= render :partial => 'shared/header' %>
<script type="text/javascript">
    $(function(){ // I use jQuery in this example
		$('.countdown').countdown({until: new Date(2014, 5, 12, 23,0,0)});
   });
</script>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class='container-fluid'>
	<%= yield %>
</div>
</body>
</html>
